/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.default-color0.chart-symbol { /* hollow circle */
    -fx-background-color: green, green;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.default-color1.chart-symbol { /* hollow circle */
    -fx-background-color: #2ca25f, red;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}